html {
    font-size: 100%;
    line-height: 1.5;
    box-sizing: border-box;
}

*, *::before, *::after, body {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 300ms ease-in-out;
}

body {
    height: 100vh;
    color: hsl(0, 0%, 100%);
    font-size: 16px;
    max-width: 1440px;
    margin: 0 auto;
}

header {
    overflow: hidden;
}

li, a {
    text-decoration: none;
    cursor: pointer;
}