@import "./reset.scss";


header {
    height: 75vh;
    background: url(./images/bg-pattern-intro-desktop.svg), linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    border-bottom-left-radius: 50px;


    nav, ul {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;

        ul {
            padding: 0;
            list-style: none;


            li {
                font-weight: 700;
                margin: 1rem;
            }
        }

        .logo {
            transform: translateX(-16rem);
        }

        .nav {
            transform: translateX(-10rem);
        }

        .header-cta {
            transform: translateX(18rem);

            ul > li:nth-child(2) {
                background-color: hsl(0, 0, 100%);
                color: hsl(13, 100%, 72%);
                padding: .8rem 2rem;
                border-radius: 35px;
            }
        }
    }


    .header-content {
        text-align: center;
        padding-top: 3.7rem;

        h1 {
            font-size: 3.7rem;
            letter-spacing: 1px;
        }

        p {
            padding: 1rem 0;
        }


        .header-cta {
            
            padding-top: 2rem;


            a {
                background-color: hsl(0, 0, 100%);
                color: hsl(13, 100%, 72%);
                font-weight: 700;
                margin: 1rem;
                padding: .8rem 2rem;
                border: 1px solid hsl(0, 0, 100%);
                border-radius: 35px;
            }
        }
    }
}

.designed-for-the-future {
    text-align: center;
    
    .dftf-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10rem;

    .dftf-text-content {
    border: 1px solid red;
    width: auto;
    }

    h3, p {
    text-align: left;
    letter-spacing: 1px;

    p {
        font-size: .8rem;
    }
    }
}
}

.dftf-image-content {
    img {
    transform: translateX(19.1rem);
    }
}