@import "./reset.scss";


header {
    height: 80vh;
    background: url(./images/bg-pattern-intro-desktop.svg), linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    background-position: center;
    background-size: initial;
    background-repeat: no-repeat;
    border-bottom-left-radius: 95px;


    nav, ul {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4rem 2rem;

        ul {
            padding: 0;
            list-style: none;


            li {
                font-weight: 700;
                margin: 1rem;
            }
        }

        .logo {
            transform: translateX(-16rem);
        }

        .nav {
            transform: translateX(-10rem);
        }

        .header-cta {
            transform: translateX(18rem);
        }
    }


    .header-content {
        text-align: center;
        border: 1px solid red;
        padding-top: 5rem;

        h1 {
            font-size: 3.3rem;
            letter-spacing: 1px;
        }

        p {
            padding: 1rem 0;
        }
    }
}